# 안쓸애들은 show = False를 입력하면됨, .env에서 안쓰는애들 입력값은 지우기

# treadfi는 builder code 설정 필요없음
[treadfi_hl] # spot(o), xyz(o), flx(o), vntl(o), hyna(o)
exchange = treadfi.hyperliquid
fee_rate = 20 # 코드에선 안쓰임. 출력용도
show = False

[hyena] # spot(o), xyz(o), flx(o), vntl(o), hyna(o)
builder_code = 0x1924b8561eef20e70ede628a296175d358be80e5
fee_rate = 0 / 0
proxy = False # 프록시를 사용할 경우에만, True / hyperliquid랑 superstack만 가능
show = False

[mass] # spot(x), xyz(o), flx(x), vntl(x), hyna(x)
builder_code = 0xf944069b489f1ebff4c3c6a6014d58cbef7c7009
fee_rate = 85 / 55
show = False

[lit] # spot(o), xyz(o), flx(o), vntl(o), hyna(o)
builder_code = 0x24a747628494231347f4f6aead2ec14f50bcc8b7
fee_rate = 35 / 50
FrontendMarket = True
show = False

[dexari] # spot(o), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0x7975cafdff839ed5047244ed3a0dd82a89866081
spot_rate = 20 / 20
fee_rate = 10 / 10
show = False
# fee_rate 본인 tier에 따라 다름 10~50 까지, 확인하고 고쳐 쓰기
# 가끔 이벤트로 할인률도 달라지고, 레퍼럴 쓰냐 아니냐에 따라서도 달라짐

[liquid] # spot(x), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0x6D4E7F472e6A491B98CBEeD327417e310Ae8ce48
spot_rate = 0 / 0
fee_rate = 50 / 50
show = False

[based] # spot(o), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0x1924b8561eef20e70ede628a296175d358be80e5
spot_rate = 100 / 100
fee_rate = 25 / 25
xyz_fee_rate = 5 / 5
flx_fee_rate = 25 / 25
vntl_fee_rate = 25 / 25
hyna_fee_rate = 25 / 25
FrontendMarket = True
show = False

[supercexy] # spot(o), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0x0000000bfbf4c62c43c2e71ef0093f382bf7a7b4
spot_rate = 20 / 20
fee_rate = 14 / 14
FrontendMarket = True
show = False

[bullpen] # spot(o), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0x4c8731897503f86a2643959cbaa1e075e84babb7
spot_rate = 100 / 100
fee_rate = 35 / 45
FrontendMarket = True
show = False

[dreamcash] # spot(o), xyz(o), flx(x) vntl(x), hyna(x)
builder_code = 0x4950994884602d1b6c6d96e4fe30f58205c39395
fee_rate = 45 / 45
FrontendMarket = True
show = False

[superstack] # spot(o), xyz(o), flx(o) vntl(o), hyna(o)
builder_code = 0xcdb943570bcb48a6f1d3228d0175598fea19e87b
fee_rate = 4 / 11
FrontendMarket = True
exchange = superstack
proxy = False
show = False

[lighter]
exchange = lighter
show = False

[liquid_lt] #liquid lighter
exchange =  lighter
show = False

[edgex]
exchange = edgex
show = False

[paradex]
exchange = paradex
show = False

[grvt]
exchange = grvt
show = False

[backpack]
exchange = backpack
show = False

[treadfi_pc] 
exchange = treadfi.pacifica
show = False

[variational]
exchange = variational
slippage = 0.01 # 최대 슬리피지 허용치를 바꾸고 싶으면 이걸 수정하셈. 0.01 = 1%
show = False

[pacifica]
exchange = pacifica
show = False

[standx]
exchange = standx
show = False

[extended]
exchange = extended
show = False